// links
a {
	color: royalblue;
	
	&:visited {
	color: purple;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: midnightblue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

//menus 


.main-nav {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	
	a {
		display: block;
		text-decoration: none;
	}
	
	ul { // .main-nav ul 
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		ul { // .main-nav ul ul
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			
			ul { // .main-nav ul ul ul
				left: -999em;
				top: 0;
			}
			
			li { // .main-nav ul ul li 
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a { // .main-nav ul ul a
				width: 200px;
			}

			:hover > a,
			.focus > a { // .main-nav ul ul a:hover/a.focus >
			}

			a:hover,
			a.focus {// .main-nav ul ul a:hover/.focus
			}
		}
		
		li:hover > ul,
		li.focus > ul { // .main-nav ul li:hover/.focus > ul
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;
		
		&:hover > a,
		&.focus > a {
		}
	}
	
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-nav.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-nav ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	// This converts to .site-content .post-navigation, etc for each class above
	// Do I need this??
	.site-content & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	// This converts to .post-navigation .nav-previous, etc for each class above
	.nav-previous {
		float: left;
		width: 50%;
	}

	// This converts to .post-navigation .nav-next, etc for each class above
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}