// header
	/*insert header styles*/

// footer
	/*insert footer styles*/

// pages and posts
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	//display: none;
}

.single .byline,
.group-blog .byline {
	//display: inline;
}

.article-content {
	margin: 1.5em 0 0;
}

.page-links { //styling for navigation within multiple pages of the same post
	clear: both;
	margin: 0 0 1.5em;
}

// widgets
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

// comments
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}