// theme color palette
//$main-color: ;
//$accent-color: ;
//$neutral-color: ;


// selected colors
$white: #ffffff;
$black: #000000;

// fonts

// font stacks
$sans: sans-serif;
$serif: serif;
$monospace1: "Courier 10 Pitch", Courier, monospace;
$monospace2: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// media query dimensions

// z-index